*{
     padding:0;
     margin:0;
}

body{
     width: 850px;
     font-family: 'helvetica';
     font-size: 14px;

}
#head{
     width: 850px;
     background: #99aaa9;
     padding: 10px;
     margin: 0 0 10px 0;
}
.right{
     float: right;
     display: inline-block;
}

#postMsg{
     margin: 10px;
     width: 805px;
}
.message{
     margin: 10px;
}
.comment{
     margin: 10px;
     width:800px;
}

h1, h2, h3{
     text-align: left;
     display: inline-block;
}
h5{
     display: inline-block;
}

textarea{
     width: 800px;
     height: 75px;
}
.comment textarea{
     width: 790px;
     height: 50px;
}

hr{
     margin: 5px 0;
}

#regForm, #loginForm{
     width: 385px;
     text-align: right;
     margin-top: 10px;
     display: inline-block;
     vertical-align: top;
     margin-right: 30px;
     font-weight: bold;
     margin-bottom: 15px;
}

#flashes{
     margin-left: 50px;
     color: red;
     list-style-type: square ;
}

input{
     margin: 5px;

}

li{
     list-style-type: circle ;
}

ul{
     padding-left: 40px;

}
form{
     display:inline-block;
}
