*{
     padding:0;
     margin:0;
}
body{
     font-family: sans-serif;
     padding: 15px;
     width: 1000px;
}

#register, #login{
     width: 380px;
     text-align: right;
     margin-top: 20px;
     display: inline-block;
     vertical-align: top;
     margin-right: 30px;
     font-weight: bold;
     margin-bottom: 25px;
     border: 1px black solid;
     padding: 20px 5px;
}
#addBook{
     margin-left:25px;
     text-align: right;
     line-height: 30px;
}
#addBook input{
     width: 400px;
}
#addBook #rating{
     margin-right: 375px;
}
#addBook .button{
     width: auto;
}

textarea{
     width:400px;
     height: 50px;
     vertical-align: top;
     margin-right: 5px;
     margin-top: 10px;
     margin-bottom: 10px;
}

.nav{
     width:1000px;
     font-size: 13px;
}
.divbox{
     width: 500px;
     display: inline-block;
     vertical-align: top;

}

.scroll{
     width:350px;
     height:350px;
     overflow:auto;
}

.other{
     vertical-align: top;
     margin-left: 20px;
}

div{
     margin-top: 20px;
     display: inline-block;
}

.inline{
     font-size: 20px;
     font-weight: bold;
}
#flashes{
     display: block;
     margin: 10px;
     color:red;
}



input{
     margin: 10px 5px;
}
.right{
     float: right;
}

.button{

     border:none;
     background-color: gray;
     color: white;
     padding: 5px 10px;
     font-size:16px;
     display: inline-block;
}

.subtype{
     font-size: 10px;
     margin-right: 10px;
}
li{
     list-style: none;
     margin-left: 10px;
     font-size: 12px;
     margin-top: 10px;
}

.italics{
     font-style: italic;
     font-size: 12px;
}
.author{
     width: 405px;
     margin-right: 5px;
}
h4{
     margin: 15px 0;
}
