<!DOCTYPE html>
<html>
     <head>
          <meta charset="utf-8">
          {% load staticfiles %}
          <link rel="stylesheet" href="{% static 'secretsApp/css/styles.css' %}" media="screen">
          <title>Dojo Secrets</title>
     </head>
     <body>{%if errors%}
          <div id="flashes">
               <p>

                    <ul>
                         {%for message in errors%}
                              <li>{{message}}</li>
                         {%endfor%}
                    </ul>

               </p>
          </div>{%endif%}
          <div>
               <h2> register </h2>
               <div id="register">
                    <form action="register" method="post">
                         <p>first name: <input class="textfield" type="text" name="first_name"></p>
                         <p>last name: <input class="textfield" type="text" name="last_name"></p>
                         <p>email: <input class="textfield" type="text" name="email"></p>
                         <p>password: <input class="textfield" type="password" name="password"></p>
                         <p>confirm password: <input class="textfield" type="password" name="confirm_password"></p>
                         <p><input class="button" type="submit" value="register"></p>
                         {%csrf_token%}
                    </form>
               </div>
          </div>
          <div>
               <h2> login </h2>
               <div id="login">
                    <form action="login" method="post">
                         <p>email: <input class="textfield" type="text" name="email"></p>
                         <p>password: <input class="textfield" type="password" name="password"></p>
                         <p><input class="button" type="submit" value="login"></p>
                         {%csrf_token%}
                    </form>
               </div>
          </div>

     </body>
</html>
