<!DOCTYPE html>
<html>
     <head>
          <meta charset="utf-8">
          {% load staticfiles %}
          <link rel="stylesheet" href="{% static 'secretsApp/css/styles.css' %}" media="screen">
          <title>Dojo Secrets</title>
     </head>
     <body>
          <div id="postit">
               <h2> Hello, {{user.first_name}}!</h2>
               <form action="postSecret/{{user.id}}" method="post">
                    <textarea name="secret">Your secret here...</textarea>
                    <p><input class="button" type="submit" value="Post"></p>
                    {%csrf_token%}
               </form>
               <span class="link"><a href="/popular">Most Popular Secrets</a><span>
          </div>
          {%if secrets%}
          <div id="secrets">
               <h2>Recent Secrets</h2>
               <ul>
                    {% for secret, liked in secLikes|slice:":10"%}
                         <li>{{secret.secret}}
                              <span class="date">posted {{secret.created_at|timesince}} ago</span>
                              <p>
                                   {%for like in likes%}
                                        {%if like.secret == secret%}
                                        <span class="like">{{like.total_liked}} likes</span>
                                             {% if liked %}
                                                  <span class="date">You liked this secret</span>
                                             {% else %}
                                                  <span class="like"><a href="/like/{{secret.id}}">like</a></span>
                                             {% endif %}
                                        {%endif%}
                                   {%endfor%}
                                   {%if secret.user == user%}
                                        <span class="like"><a href="/delete/{{secret.id}}">delete</a></span>
                                   {%endif%}
                              </p>
                         </li>
                    {%endfor%}
               </ul>

          </div>
          {%endif%}









     </body>
</html>
