*{
     padding:0;
     margin:0;
}
body{
     font-family: sans-serif;
     padding: 15px;
}

#register, #login{
     width: 380px;
     text-align: right;
     margin-top: 10px;
     display: inline-block;
     vertical-align: top;
     margin-right: 30px;
     font-weight: bold;
     margin-bottom: 15px;
     border: 1px black solid;
     padding-top: 10px
}
div{
     display: inline-block;
}
#flashes{
     display: block;
     margin: 10px;
     color:red;
}

#secrets{
     display: block;
     margin: 20px 10px;
     margin-bottom: 20px;
     color:#000000;
}

.like{
     font-size: 12px;
     color: #000000;
}
li{
     list-style: none;
     margin-top: 10px;
     color: red;

}

.like{
     font-size: 12px;
}
.date{
     color:#555555;
     font-size: 12px;
     font-style: italic;
}
h2{
     text-align: left;
}

input{
     margin: 5px;
}
.button{
     border:none;
     background-color: gray;
     color: white;
     padding: 5px 10px;
     font-size:16px;
     display: inline-block;
}
textarea{
     width: 500px;
     height: 100px;
     resize: none;
     margin-top:10px;
}
.link{
     float:right;
     margin-top: -25px;
}
